<html>
<body>
Hi {{ person.name }}! <a href="/logout">Logout</a><br /><br />

My Leagues<br />
{% if person.admin is defined and person.admin.leagues|length > 0 %}

{% for league_key in person.admin.leagues %}
{% set league = league_key.get() %}
<a href="/dynamic/league_page.html?league={{ league.key.urlsafe() }}">{{ league.name }}</a><br />
{% endfor %}

{% else %}

You are not an admin of any leagues.<br />

{% endif %}
<a href="/static/create_league.html">Create a League</a>

<br />
<br />


</body>
</html>

