<html>
<body>
Hi {{ user.name }}! <a href="/logout">Logout</a><br /><br />

My Leagues<br />
{% if user.admin is defined and user.admin.leagues|length > 0 %}

{% for league_key in user.admin.leagues %}
{% set league = league_key.get() %}
<a href="/dynamic/league_page.html?league={{ league.key.urlsafe() }}">{{ league.name }}</a><br />
{% endfor %}

{% else %}

You are not an admin of any leagues.<br />

{% endif %}
<a href="/static/create_league.html">Create a League</a>

<br />
<br />

<a href="/dynamic/referee_page.html?user={{ user.key.urlsafe() }}">Refereeing</a>


</body>
</html>

