<html>
<body>

<center><h3>{{ league.name }}</h3></center>

<h4>Teams</h4>

<table>
{% for team_key in league.teams %}
  {% set team = team_key.get() %}
  <tr>
  <td><a href="team_page.html?team={{ team.key.urlsafe() }}">{{ team.name }}</a><br /></td>
  <td>{{ team.matches|length }} matches</td>
  </tr>
{% endfor %}
<tr>
  <td>
    <form action="/add_team" method="get">
    <input type="text" name="name" placeholder="name">
    <input type="hidden" name="league" value="{{ league.key.urlsafe() }}"/>
    <input type="Submit" value="Add">
    </form>
  </td>
</tr>
</table>


<h4>Fields</h4>

<table>
{% for field_key in league.fields %}
  {% set field = field_key.get() %}
  
  <tr>
    <td>{{ field.name }}</td>
    <td>{{ field.location }}</td>
  </tr>
  
{% endfor %}
<tr>
  <form action="/add_field" method="get">
  <td>
    <input type="text" name="name" placeholder="name">
  </td>
  <td>
    <input type="text" name="location" placeholder="location">
  </td>
  <td>
    <input type="hidden" name="league" value="{{ league.key.urlsafe() }}"/>
    <input type="Submit" value="Add">
  </td>
  </form>
</tr>
</table>

<h4>Referees</h4>

<table>
{% for referee_key in league.referees %}
  {% set user = referee_key.get() %}
  
  <tr>
    <td>{{ user.name }}</td>
  </tr>
  
{% endfor %}
<tr>
  <form action="/add_referee" method="get">
  <td>
    <input type="text" name="email" placeholder="email">
  </td>
  <td>
    <input type="hidden" name="league" value="{{ league.key.urlsafe() }}"/>
    <input type="Submit" value="Add">
  </td>
  </form>
</tr>
</table>

<h4>Matches</h4>

<table>
{% for match_key in league.matches %}
  {% set match = match_key.get() %}
  
  <tr>
    <td>{{ match.date }}</td>
    {% for team_key in match.teams %}
      {% set team = team_key.get() %}
      <td>{{ team.name }}</td>
    {% endfor %}
  </tr>
  
{% endfor %}

<tr>
<form action="/add_match" method="get">
  <td>
    <input type="datetime-local" name="date">
  </td>
  
  <td>
    <select name="team">
      {% for team_key in league.teams %}
      {% set team = team_key.get() %}
      <option value="{{team.key.urlsafe()}}">{{team.name}}</option>
      {% endfor %}
    </select>
  </td>
  
  <td>
    <select name="team">
      {% for team_key in league.teams %}
      {% set team = team_key.get() %}
      <option value="{{team.key.urlsafe()}}">{{team.name}}</option>
      {% endfor %}
    </select>
  </td>
  
  <td>
    <select name="field">
      {% for field_key in league.fields %}
      {% set field = field_key.get() %}
      <option value="{{ field_key.urlsafe() }}">{{ field.name }}</option>
      {% endfor %}
    </select>
  </td>
  
  <td>
    <input type="hidden" name="league" value="{{ league.key.urlsafe() }}"/>
    <input type="Submit">
  </td>
</form>
</tr>
</table>


</body>
</html>

